@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    width: auto;
    height: 3.5rem;
    padding: 6px 1.25rem;
    border: 1px solid #6940f2;
    border-radius: 65px;
    color: #fff;
    transition: all 0.3s linear;
    font-family: "Inter";
    font-weight: 600;
    margin-right: 10px;
  }
  .getButton {
    width: auto;
    min-width: 15vw !important;
    height: 3rem;
    padding: 3px 1.25rem;
    border: 1px solid #6940f2;
    border-radius: 65px;
    color: #fff;
    transition: all 0.3s linear;
    font-size: 20px;
    font-weight: 600;
    font-family: "inter";

    margin: auto;
  }

  .get_button {
    background-color: #6940f2;
  }
  .btn_primary {
    background: #4a2daa;
    border: 1px solid;
    border-image-source: linear-gradient(
      180deg,
      #6940f2 0%,
      rgba(105, 64, 242, 0) 50.91%
    );
  }

  .btn_secondary {
    color: #fff;
    background: linear-gradient(0deg, #000413, #000413),
      radial-gradient(
        99.76% 99.76% at 98.11% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.116) 100%
      );
  }

  .btn:hover {
    box-shadow: 0px 0px 12px 6px #430bfe69;
  }

  .gainHover:hover {
  box-shadow: 0px 0px 2px 0px #0ACD95;
  }

  .gradient-border {
    border-top-width: 1.5px;
    border-style: solid;
    border-image-source: linear-gradient(
      270deg,
      rgba(1, 4, 22, 0) 0%,
      #2d3154 44%,
      rgba(1, 4, 22, 0) 100%
    );
    border-image-slice: 1;
  }
  .gradient-borders {
    border-right: 1.5px solid;
    /* border-style: solid; */
    border-image-source: linear-gradient(
      20deg,
      rgba(1, 4, 22, 0) 0%,
      #2d3154 44%,
      rgba(1, 4, 22, 0) 100%
    );
    border-image-slice: 1;
  }

  [class^="number-slide"],
  [class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: auto;
    max-height: 70vh;
  }

  .number-slide1 > div {
    border-radius: 22px;
  }

  .number-slide3 {
    background: rgb(182, 255, 64);
    background: linear-gradient(
      128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%
    );
    background: linear-gradient(
      128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .blend-screen {
    mix-blend-mode: screen;
  }
  .image-container {
    width: 100%; /* Adjust to your needs */
    height: auto; /* Ensure it adapts to image height */
    position: relative; /* For absolute positioning of inner elements */
  }

  .image {
    width: 100%; /* Full width of container */
    height: auto; /* Maintain aspect ratio */
  }

  .video-image {
    position: absolute;
    left: 50%; /* Center the video */
    transform: translateX(-50%); /* Center adjustment */
  }

  .header-image {
    position: fixed;
    top: 0;
    left: 0;
  }

  .hover-instagram:hover svg path {
    fill: #2b2e4f;
  }

  .scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
    padding: 16px;
  }

  .scroll-item {
    flex: 0 0 auto;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .chess-trigger {
    opacity: 0;
    transition: opacity 1s ease;
  }
  #lottie-container-1,
  #lottie-container-2,
  #lottie-container-3 {
    width: 100%;
    height: 500px;
  }

  .segment-animation-container {
    position: relative;
  }

  .scroll-container1 {
    overflow: hidden;
    width: 50vw;
    height: 100%;
  }

  .fixed-image {
    position: fixed;
    z-index: -1; /* Background image */
  }

  /* iframe {
    z-index: 1; 
  } */
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth; /* Smooth scrolling */
  }

  .card {
    flex: 0 0 auto; /* Prevent shrinking and allow it to stay in place */
    scroll-snap-align: center; /* Snap to the center when scrolling */
    transition: transform 0.3s ease-in-out; /* Smooth transition when scrolling */
  }

  .navbar {
    z-index: 100;
    position: relative; /* Ensure it is positioned for z-index to take effect */
  }

  .text-ellipsis {
    display: inline-block;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@font-face {
  font-family: "sora";
  src: url("../assets/fonts/sora.ttf");
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter.ttf");
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-popover .ant-popover-inner {
  background-color: #0e132d !important;
  border-radius: 20px !important;
  border: 1px solid #2D3154 !important;
}

